<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Kalash Munjal">
        <link rel="stylesheet" href="/css/main.css" />
        <script src="/js/legoSets.js"></script>
        <title>Lego Collection</title>
    </head>

    <body class="grid grid-rows-[auto,1fr,auto] min-h-screen">
        <header>
            <%- include('partials/navbar', {page: '/'}) %>
        </header>

        <main>    
            <section class="hero bg-blue-500 text-white p-10 text-center">
                <h1 class="text-4xl mb-4">Explore Our Lego Collection</h1>
            </section>

            <section class="grid grid-cols-1 md:grid-cols-3 gap-8 p-10">
                <div class="card bg-white p-6 rounded-lg shadow-md">
                    <img src="/images/lego/0011-2.jpg" alt="Lego Set 1" class="w-full h-64 object-cover mb-4 rounded"/>
                    <h2 class="text-2xl mb-2">TOWN MINI FIGURES</h2>
                    <p class="mb-4">Create your own town by using these town mini figures.</p>
                    <a href="/lego/sets/0011-2" class="btn bg-blue-500 text-white py-2 px-4 rounded">View Set</a>
                </div>
                <div class="card bg-white p-6 rounded-lg shadow-md">
                    <img src="/images/lego/0012-1.jpg" alt="Lego Set 2" class="w-full h-64 object-cover mb-4 rounded"/>
                    <h2 class="text-2xl mb-2">SPACE MINI FIGURES</h2>
                    <p class="mb-4">Space roaming can become easy with this space set</p>
                    <a href="/lego/sets/0012-1" class="btn bg-blue-500 text-white py-2 px-4 rounded">View Set</a>
                </div>
                <div class="card bg-white p-6 rounded-lg shadow-md">
                    <img src="/images/lego/003-1.jpg" alt="Lego Set 3" class="w-full h-64 object-cover mb-4 rounded"/>
                    <h2 class="text-2xl mb-2">Master Mechanic Set</h2>
                    <p class="mb-4">Grab the chancve to feel like a mechanic by having this luxurious set for mechanics.</p>
                    <a href="/lego/sets/003-1" class="btn bg-blue-500 text-white py-2 px-4 rounded">View Set</a>
                </div>
            </section>
        </main>

        <%- include('partials/footer') %>
        
    </body>
</html>
